.header
    position fixed
    top 0
    left 0
    right 0
    padding 10px
    z-index 100

    @media (min-width 768px)
        padding 20px
        background #fff

    ul
        padding 0
        margin 0
        display block
        float right

    li
        display inline-block
        vertical-align top
        margin 0 10px
        text-align center

        & > .github-button, & > span
            display inline-block
            margin 4px 0 0

    a
        color #181818
        text-decoration none
        font-weight 700



