.increment
    display block
    width 200px
    margin 0 auto 20px

    @media (min-width 768px)
        margin 0 auto 50px

    &__display
        display block
        border 2px solid #ddd
        background #fff
        margin 0 auto 20px
        appearance none
        border-radius 4px
        width 100%

    &__display
        height 100px
        display flex
        justify-content center
        align-items center
        font-size 60px

        @media (min-width 768px)
            height 160px
            font-size 100px

    &__button
        width 100%

